.login__container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.login__form {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 350px;
  padding: 1em 1.5em;
  border-radius: 12px;
  box-shadow: 2px 2px 4px 1px #888888;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__form input {
  padding: 0.4em;
  border-radius: 6px;
  margin: 0.25rem 0;
}

.login__footer {
  display: flex;
  flex-direction: column;
  margin: 1rem auto 0 auto;
}

.login__button {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto 0.5rem auto;
  gap: 2em;
  padding: 0.5em 2em;
  border: 2px solid black;
  color: black;
  border-radius: 12px;
  background-color: #fff;
}

.login__button:disabled {
  opacity: 0.5;
  cursor: default;
}

.login__button:hover:enabled {
  background-color: #a9a9a9;
}

.login__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;
  font-size: 1.5rem;
}

.notification {
  padding: 0.5em 1.5em;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 1px #888888;
}

.notification__message {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin: 0;
  font-size: 1.1rem;
  text-transform: lowercase;
}

.notification__message::first-letter {
  text-transform: uppercase;
}

.notification__button {
  color: black;
  margin-left: 1.25rem;
}

.hide {
  position: absolute;
  left: -9999px;
}
