.register-container {
  margin: 0 auto;
  width: 30%;
  padding: 2em 0;
}

.register-wrapper {
  box-shadow: 2px 2px 4px 1px #888888;
  padding: 1em 1em;
  border-radius: 12px;
}

.register-button-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}
