:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.calculator {
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em 0;
}

.display {
  padding: 1em;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 1.5rem;
  font-weight: 300;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: white;
  font-size: 1.25rem;
  padding: 1em;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
  color: var(--light);
}
